@media only screen and (max-width:430px)
{
/*     hello */
    body
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44vh;
        /* height: 100vh; */
    }
    .container0::before 
    {
        /* width: 46vh; */
        /* height: 100vh; */
        background: url("assets/background\ croped.jpg") no-repeat center/cover;
    }
    .container0
    {
        display: flex;
    }
    .container0 h1
    {
        font-size: 50px;
        width: 380px;
        margin: 0px 0px 100px 0px;
    }
    .container
    {
        flex-direction: column-reverse;
        display: flex;
        width: 330px;
        margin: 0px 0px 0px 22px;
    }
    .numandoper
    {
        display: flex;
        width: 325px;
    }
    .display
    {
        margin:0px 0px 45px -17px;
    }
    footer
    {
        margin: 45px 0px 0px 98px;
    }
}
